@charset "UTF-8";
@import url("http://zzupd.dothome.co.kr/200528/cssReset/reset.css");

@keyframes anim_Sample {    
    from { font-size: 20px; }
    50% { font-size: 80px; }
    to     { 
        font-size: 40px; 
        width: 100px;    
        height: 400px; 
    }        
}
div#origin {
    width: 300px;
    height: 100px;
    border: 1px solid #000;
    background-color: lightskyblue;    
}

div#origin:hover {           
    color: #f80;
    padding: 20px;
    border: 10px solid #19e3cc;
    background-color: limegreen;
    
    animation-name: anim_Sample;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
